<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANTHROPIC_API_KEY</key>
	<string>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</string>
</dict>
</plist>
