<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANTHROPIC_API_KEY</key>
	<string>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</string>
</dict>
</plist>
